<!-- <div id="app-frame">
    <nz-spin class="global-spinner" [nzSpinning]="projectQuery.isLoading$ | async" nzSize="large">
        <router-outlet></router-outlet>
    </nz-spin>
</div> -->

<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <nz-spin class="global-spinner" [nzSpinning]="projectQuery.isLoading$ | async" nzSize="large">
        <alert></alert>
        <router-outlet></router-outlet>
    </nz-spin>
</div>

<footer class="page-footer font-small special-color-dark pt-4" style="background:#0a192f">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center" style="color :white; size :35">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="/">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fab fa-google-plus-g"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fab fa-linkedin-in"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1">
                    <i class="fab fa-dribbble"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color : #64ffda">Copyright &copy; 2020 &mdash; Nevil Parmar :
        <a href="https://nevilparmar.me/" style="color : #64ffda"> nevilparmar.me </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->